<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<div #target></div>
<app-header></app-header>
<!-- Login Form Start -->
<div class="section"
     style="background-size: cover; height:100vh">

  <div class="container">
    <div class="auth-wrapper">

      <div class="auth-description bg-cover bg-center dark-overlay dark-overlay-2"
           style="background-image: url('https://images.pexels.com/photos/2233348/pexels-photo-2233348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
        <div class="auth-description-inner">
          <i class="flaticon-chili"></i>
          <h2>Добредојдовте !</h2>
        </div>
      </div>
      <div class="auth-form">

        <h2>Најавете се на <br>вашиот профил !</h2>

        <form method="post" [formGroup]="loginForm" (ngSubmit)="f.form.valid && onSubmit()" *ngIf="!isLoggedIn" #f="ngForm" novalidate>
          <div class="form-group">
            <input type="text"
                   class="form-control form-control-light"
                   placeholder="Корисничко име"
                   name="username"
                   formControlName="username"
            required>
          </div>
          <div class="form-group">
            <input type="password"
                   class="form-control form-control-light"
                   placeholder="Лозинка"
                   name="password"
                   formControlName="password"
                   required
                   value="">
          </div>
<!--          <a href="#">Ја заборавивте лозинката?</a>-->
          <button type="submit" class="btn-custom primary">Најави се</button>
          <div class="form-group">
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
