<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon.ico">

</head>

<body>
<div #target></div>
<!-- Login Form Start -->
<div class="section" style="background-image: url('/assets/img/pexels-roman-odintsov-4553111.jpg'); background-size: cover;">



  <div class="container">
    <div class="auth-wrapper">

      <div class="auth-description bg-cover bg-center dark-overlay dark-overlay-2" style="background-image: url('/assets/img/pexels-nataliya-vaitkevich-5792328.jpg')">
        <div class="auth-description-inner">
          <i class="flaticon-chili"></i>
          <h2>Добредојдовте !</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="auth-form">

        <h2>Најавете се на <br>вашиот профил !</h2>

        <form method="post">

          <div class="form-group">
            <input type="text" class="form-control form-control-light" placeholder="Корисничко име" name="username" value="">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-light" placeholder="Лозинка" name="password" value="">
          </div>
          <a href="#">Ја заборавивте лозинката?</a>
          <button type="submit" class="btn-custom primary">Најави се</button>

          <div class="auth-seperator">
            <span>или</span>
          </div>

          <div class="social-login">
            <button type="button" class="ct-social-login facebook"><i class="fab fa-facebook-f"></i> Продолжи со Facebook </button>
            <button type="button" class="ct-social-login google"><i class="fab fa-google"></i> Продолжи со Google</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
<!-- Login Form End -->

<app-footer (scrollEmitter)="scrollToTop(target)"></app-footer>

<!--&lt;!&ndash; Vendor Scripts &ndash;&gt;-->
<!--<script src="assets/js/plugins/jquery-3.4.1.min.js"></script>-->
<!--<script src="assets/js/plugins/popper.min.js"></script>-->
<!--<script src="assets/js/plugins/waypoint.js"></script>-->
<!--<script src="assets/js/plugins/bootstrap.min.js"></script>-->
<!--<script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>-->
<!--<script src="assets/js/plugins/jquery.slimScroll.min.js"></script>-->
<!--<script src="assets/js/plugins/imagesloaded.min.js"></script>-->
<!--<script src="assets/js/plugins/jquery.steps.min.js"></script>-->
<!--<script src="assets/js/plugins/jquery.countdown.min.js"></script>-->
<!--<script src="assets/js/plugins/isotope.pkgd.min.js"></script>-->
<!--<script src="assets/js/plugins/slick.min.js"></script>-->

<!--&lt;!&ndash; Slices Scripts &ndash;&gt;-->
<!--<script src="assets/js/main.js"></script>-->

</body>

</html>
