<!-- Aside (Mobile Navigation) -->
<aside class="main-aside">
  <a class="navbar-brand"> <img [lazyLoad]="'/assets/img/ulaf%20ste%20logo%20crno.png'">  </a>

  <div class="aside-scroll text-decoration-none">
    <ul>
      <li class="menu-item ">
        <a class="text-decoration-none" routerLink="">Почетна</a>
      </li><li class="menu-item">
        <a class="text-decoration-none" routerLink="/menu">Мени</a>
      </li><li class="menu-item">
        <a class="text-decoration-none" routerLink="/about">За нас</a>
      </li><li class="menu-item">
        <a class="text-decoration-none" routerLink="/contact">Контакт</a>
      </li>
    </ul>
  </div>
</aside>
<div class="aside-overlay aside-trigger"></div>
