<!-- Cart Sidebar Start -->
<div class="cart-sidebar-wrapper">
  <aside class="cart-sidebar">
    <div class="cart-sidebar-header">
      <h3>Your Cart</h3>
      <div class="close-btn cart-trigger close-dark">
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="cart-sidebar-body">
      <div class="cart-sidebar-scroll">
        <div class="cart-sidebar-item">
          <div class="media">
            <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/1.png" alt="product"></a>
            <div class="media-body">
              <h5> <a href="menu-item-v1.html" title="Pepperoni">Pepperoni</a> </h5>
              <span>4x 9.99$</span>
            </div>
          </div>
          <div class="cart-sidebar-item-meta">
            <span>14 Inches</span>
            <span>Extra Cheese</span>
            <span>Cheese Crust</span>
          </div>
          <div class="cart-sidebar-price">
            36.99$
          </div>
          <div class="close-btn">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="cart-sidebar-item">
          <div class="media">
            <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/2.png" alt="product"></a>
            <div class="media-body">
              <h5> <a href="menu-item-v1.html" title="Vegetarian">Vegetarian</a> </h5>
              <span>2x 5.99$</span>
            </div>
          </div>
          <div class="cart-sidebar-item-meta">
            <span>14 Inches</span>
          </div>
          <div class="cart-sidebar-price">
            12.99$
          </div>
          <div class="close-btn">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="cart-sidebar-item">
          <div class="media">
            <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/3.png" alt="product"></a>
            <div class="media-body">
              <h5> <a href="menu-item-v1.html" title="Italian Jalapeno Special">Italian Jalapeno Special</a> </h5>
              <span>1x 12.99$</span>
            </div>
          </div>
          <div class="cart-sidebar-item-meta">
            <span>14 Inches</span>
            <span>Extra Cheese</span>
            <span>Cheese Crust</span>
          </div>
          <div class="cart-sidebar-price">
            12.99$
          </div>
          <div class="close-btn">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="cart-sidebar-item">
          <div class="media">
            <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/4.png" alt="product"></a>
            <div class="media-body">
              <h5> <a href="menu-item-v1.html" title="Barbeque Chicken">Barbeque Chicken</a> </h5>
              <span>4x 9.99$</span>
            </div>
          </div>
          <div class="cart-sidebar-item-meta">
            <span>12 Inches</span>
            <span>Extra Cheese</span>
            <span>Cheese Crust</span>
            <span>Added Chicken</span>
          </div>
          <div class="cart-sidebar-price">
            36.99$
          </div>
          <div class="close-btn">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="cart-sidebar-item">
          <div class="media">
            <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/5.png" alt="product"></a>
            <div class="media-body">
              <h5> <a href="menu-item-v1.html" title="Four Cheese">Four Cheese</a> </h5>
              <span>2x 5.99$</span>
            </div>
          </div>
          <div class="cart-sidebar-item-meta">
            <span>12 Inches</span>
            <span>Added Chicken</span>
          </div>
          <div class="cart-sidebar-price">
            12.99$
          </div>
          <div class="close-btn">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="cart-sidebar-item">
          <div class="media">
            <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/6.png" alt="product"></a>
            <div class="media-body">
              <h5> <a href="menu-item-v1.html" title="Swiss Mushroom">Swiss Mushroom</a> </h5>
              <span>1x 12.99$</span>
            </div>
          </div>
          <div class="cart-sidebar-item-meta">
            <span>12 Inches</span>
            <span>Extra Cheese</span>
            <span>Cheese Crust</span>
            <span>Added Chicken</span>
          </div>
          <div class="cart-sidebar-price">
            12.99$
          </div>
          <div class="close-btn">
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-sidebar-footer">
      <h4>Total: <span>299.99$</span> </h4>
      <a href="checkout.html" class="btn-custom">Checkout</a>
    </div>
  </aside>
  <div class="cart-sidebar-overlay cart-trigger">
  </div>
</div>
<!-- Cart Sidebar End -->
