<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick-theme.css">
  <!-- Icon Fonts -->
  <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.min.css">

  <!-- Slices Style sheet -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="//////Desktop/slices-template/Product%20File/favicon.ico">

</head>

<body>


<app-header-transparent></app-header-transparent>

<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('/assets/img/subheader.jpg')">
  <div class="container">
    <div class="subheader-inner">
      <h1>About Us</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<!-- Subheader End -->

<!-- About us start -->
<div class="section">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 mb-lg-30 ct-single-img-wrapper">
        <img src="/assets/img/auth.jpg" alt="img">
        <div class="ct-dots"></div>
      </div>
      <div class="col-lg-6">
        <div class="section-title-wrap mr-lg-30">
          <h5 class="custom-primary">About Us</h5>
          <h2 class="title">Serving Pizzas By The Slice Since 1987</h2>
          <p class="subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p class="subtitle">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
          <div class="signature">
            <img src="/assets/img/signature.png" alt="signature">
          </div>
          <a href="menu-v1.html" class="btn-custom">Check our Menu</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- About us End -->

<!-- Infographics Start -->
<div class="section section-padding bg-cover bg-center bg-parallax dark-overlay dark-overlay-2" style="background-image: url('/assets/img/subheader-2.jpg')">
  <div class="container">
    <div class="section-title-wrap section-header text-center">
      <h2 class="title text-white">Our success Story</h2>
      <p class="subtitle text-white">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      </p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-employee"></i>
          <h4>24,934</h4>
          <p>Happy Customers</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-pizza-slice"></i>
          <h4>65,317</h4>
          <p>Pizzas Made</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-cheese"></i>
          <h4>4,658</h4>
          <p>Cheese Rolls</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-soda"></i>
          <h4>67,335</h4>
          <p>Drinks Served</p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Infographics End -->

<!-- Team members Start -->
<div class="section section-padding">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 mb-lg-30">
        <div class="section-title-wrap">
          <h5 class="custom-primary">Our Backbone</h5>
          <h2 class="title">Meet The Team</h2>
          <p class="subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <p class="subtitle">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
        <a href="#" class="btn-custom">View All</a>
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="ct-team-item">
              <div class="ct-team-thumb">
                <img src="/assets/img/team/1.jpg" alt="team">
              </div>
              <div class="ct-team-desc">
                <h5>Miranda Blue</h5>
                <span>Executive Chef</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="ct-team-item">
              <div class="ct-team-thumb">
                <img src="/assets/img/team/2.jpg" alt="team">
              </div>
              <div class="ct-team-desc">
                <h5>Jonathan Flock</h5>
                <span>Assistant Chef</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="ct-team-item">
              <div class="ct-team-thumb">
                <img src="/assets/img/team/3.jpg" alt="team">
              </div>
              <div class="ct-team-desc">
                <h5>Mich Jean</h5>
                <span>Assistant Chef</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="ct-team-item">
              <div class="ct-team-thumb">
                <img src="/assets/img/team/4.jpg" alt="team">
              </div>
              <div class="ct-team-desc">
                <h5>Andrew Lumber</h5>
                <span>Assistant Chef</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Team members End -->

<!-- Newsletter start -->
<section class="section bg-center bg-cover dark-overlay" style="background-image:url('/assets/img/bg/1.jpg')">
  <div class="container">

    <div class="ct-newsletter">

      <div class="section-title-wrap section-header">
        <h2 class="title">Join Our Newsletter</h2>
        <p class="subtitle">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>

      <form method="post">
        <input type="email" class="form-control" placeholder="Enter your email address" value="">
        <button type="submit" class="btn-custom primary" name="button"> Submit <i class="far fa-paper-plane"></i> </button>
      </form>

    </div>

  </div>
</section>
<!-- Newsletter End -->

<!-- Footer Start -->
<footer class="ct-footer footer-dark">
  <!-- Top Footer -->
  <div class="container">
    <div class="footer-top">
      <div class="footer-logo">
        <img src="/assets/img/logo-light.png" alt="logo">
      </div>
      <div class="footer-buttons">
        <a href="#"> <img src="/assets/img/android.png" alt="download it on the app store"></a>
        <a href="#"> <img src="/assets/img/ios.png" alt="download it on the app store"></a>
      </div>
    </div>
  </div>

  <!-- Middle Footer -->
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Information</h5>
          <ul>
            <li> <a href="//////Desktop/slices-template/Product%20File/index.html">Home</a> </li>
            <li> <a href="//////Desktop/slices-template/Product%20File/blog-grid.html">Blog</a> </li>
            <li> <a href="about-us.html">About Us</a> </li>
            <li> <a href="menu-v1.html">Menu</a> </li>
            <li> <a href="contact-us.html">Contact Us</a> </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Top Items</h5>
          <ul>
            <li> <a href="#">Pepperoni</a> </li>
            <li> <a href="#">Swiss Mushroom</a> </li>
            <li> <a href="#">Barbeque Chicken</a> </li>
            <li> <a href="#">Vegetarian</a> </li>
            <li> <a href="#">Ham & Cheese</a> </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Others</h5>
          <ul>
            <li> <a href="checkout.html">Checkout</a> </li>
            <li> <a href="cart.html">Cart</a> </li>
            <li> <a href="menu-item-v1.html">Product</a> </li>
            <li> <a href="//////Desktop/slices-template/Product%20File/locations.html">Locations</a> </li>
            <li> <a href="//////Desktop/slices-template/Product%20File/legal.html">Legal</a> </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 footer-widget">
          <h5 class="widget-title">Social Media</h5>
          <ul class="social-media">
            <li> <a href="#" class="facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
            <li> <a href="#" class="pinterest"> <i class="fab fa-pinterest-p"></i> </a> </li>
            <li> <a href="#" class="google"> <i class="fab fa-google"></i> </a> </li>
            <li> <a href="#" class="twitter"> <i class="fab fa-twitter"></i> </a> </li>
          </ul>
          <div class="footer-offer">
            <p>Signup and get exclusive offers and coupon codes</p>
            <a href="register.html" class="btn-custom btn-sm shadow-none">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <ul>
        <li> <a href="#">Privacy Policy</a> </li>
        <li> <a href="#">Refund Policy</a> </li>
        <li> <a href="#">Cookie Policy</a> </li>
        <li> <a href="#">Terms & Conditions</a> </li>
      </ul>
      <div class="footer-copyright">
        <p> Copyright &copy; 2020 <a href="#">AndroThemes</a> All Rights Reserved. </p>
        <a href="#" class="back-to-top">Back to top <i class="fas fa-chevron-up"></i> </a>
      </div>
    </div>
  </div>

</footer>
<!-- Footer End -->

<!-- Vendor Scripts -->
<script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
<script src="/assets/js/plugins/popper.min.js"></script>
<script src="/assets/js/plugins/waypoint.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
<script src="/assets/js/plugins/imagesloaded.min.js"></script>
<script src="/assets/js/plugins/jquery.steps.min.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
<script src="/assets/js/plugins/slick.min.js"></script>

<!-- Slices Scripts -->
<script src="/assets/js/main.js"></script>

</body>

</html>
