<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>
<body>
  <div #target></div>
  <app-preloader></app-preloader>

  <app-header></app-header>
  <app-banner></app-banner>

  <!-- Menu Categories Start -->
  <app-categories-menu-homepage></app-categories-menu-homepage>
<!-- Menu wrapper is here -->

  <app-infographics></app-infographics>

  <app-how-we-do-it></app-how-we-do-it>

  <app-instagram></app-instagram>

  <app-footer (scrollEmitter)="scrollToTop(target)"></app-footer>
  <!-- Vendor Scripts -->
  <script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/plugins/popper.min.js"></script>
  <script src="/assets/js/plugins/waypoint.js"></script>
  <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
  <script src="/assets/js/plugins/imagesloaded.min.js"></script>
  <script src="/assets/js/plugins/jquery.steps.min.js"></script>
  <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
  <script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="/assets/js/plugins/slick.min.js"></script>

</body>

</html>
