<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick-theme.css">
  <!-- Icon Fonts -->
  <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.min.css">

  <!-- Slices Style sheet -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>

<body>

  <!-- Preloader Start -->
  <div class="ct-preloader" *ngIf="!loaded">
    <div class="ct-preloader-inner">
      <div class="lds-ripple"><div></div><div></div></div>
    </div>
  </div>
  <!-- Preloader End -->

  <!-- Customize Modal Start -->
  <app-customize-modal></app-customize-modal>
  <!-- Customize Modal End -->
  <app-search-form></app-search-form>
  <app-floating-cart></app-floating-cart>
  <app-mobile-navigation></app-mobile-navigation>
  <app-header></app-header>
  <app-banner></app-banner>

  <!-- Menu Categories Start -->
  <app-categories-menu-homepage></app-categories-menu-homepage>
<!-- Menu wrapper is here -->

  <app-infographics></app-infographics>

  <app-make-your-own-pizza></app-make-your-own-pizza>

  <app-how-we-do-it></app-how-we-do-it>

  <app-instagram></app-instagram>

  <app-footer></app-footer>

  <!-- Vendor Scripts -->
  <script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/plugins/popper.min.js"></script>
  <script src="/assets/js/plugins/waypoint.js"></script>
  <script src="/assets/js/plugins/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
  <script src="/assets/js/plugins/imagesloaded.min.js"></script>
  <script src="/assets/js/plugins/jquery.steps.min.js"></script>
  <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
  <script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="/assets/js/plugins/slick.min.js"></script>

  <!-- Slices Scripts -->
  <script src="/assets/js/main.js"></script>

</body>

</html>
