<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick-theme.css">
  <!-- Icon Fonts -->
  <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.min.css">

  <!-- Slices Style sheet -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../../../../../../Desktop/slices-template/Product%20File/favicon.ico">

</head>

<body>



<app-header></app-header>

<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('/assets/img/pexels-marta-dzedyshko-2067401.jpg')">
  <div class="container">
    <div class="subheader-inner">
      <h1>Наплата</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Почетна</a></li>
          <li class="breadcrumb-item active" aria-current="page">Наплата</li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<!-- Subheader End -->

<!-- Checkout Start -->
<section class="section">
  <div class="container">

    <form method="post">
      <div class="row">
        <div class="col-xl-7">


          <!-- Buyer Info -->
          <h4>Детали за нарачката</h4>
          <div class="row">
            <div class="form-group col-xl-6">
              <label>Име <span class="text-danger">*</span></label>
              <input type="text" placeholder="Внесете Име" name="fname" class="form-control" value="" required="true">
            </div>
            <div class="form-group col-xl-6">
              <label>Презиме <span class="text-danger">*</span></label>
              <input type="text" placeholder="Внесете Презиме" name="lname" class="form-control" value="" required="true">
            </div>
            <div class="form-group">
              <label>Контакт телефон <span class="text-danger">*</span></label>
              <input type="text" placeholder="Внесете Контакт телефон" name="phone" class="form-control" value="" required="true">
            </div>
            <div class="form-group">
              <label>Емаил Адреса <span class="text-danger">*</span></label>
              <input type="email" placeholder="Внесете Емаил Ареса" name="email" class="form-control" value="" required="true">
            </div>
          </div>

          <!-- /Buyer Info -->

        </div>
        <div class="col-xl-5 checkout-billing">
          <!-- Order Details Start -->
          <table class="ct-responsive-table">
            <thead>
            <tr>
              <th>Производ</th>
              <th>Количина</th>
              <th>Вкупно</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td data-title="Product">
                <div class="cart-product-wrapper">
                  <div class="cart-product-body">
                    <h6> <a href="#">Pepperoni</a> </h6>
                    <p>21 Inch</p>
                    <p>Extra Cheese</p>
                    <p>Extra Pepperoni</p>
                    <p>Cheese Crust</p>
                    <p>Added Bacon</p>
                  </div>
                </div>
              </td>
              <td data-title="Quantity">x1</td>
              <td data-title="Total"> <strong>23.99$</strong> </td>
            </tr>
            <tr>
              <td data-title="Product">
                <div class="cart-product-wrapper">
                  <div class="cart-product-body">
                    <h6> <a href="#">Vegetarian</a> </h6>
                    <p>14 Inch</p>
                  </div>
                </div>
              </td>
              <td data-title="Quantity">x1</td>
              <td data-title="Total"> <strong>9.99$</strong> </td>
            </tr>
            <tr>
              <td data-title="Product">
                <div class="cart-product-wrapper">
                  <div class="cart-product-body">
                    <h6> <a href="#">Four Cheese</a> </h6>
                    <p>21 Inch</p>
                    <p>Added Cheese</p>
                  </div>
                </div>
              </td>
              <td data-title="Quantity">x2</td>
              <td data-title="Total"> <strong>13.99$</strong> </td>
            </tr>
            <tr class="total">
              <td>
                <h6 class="mb-0">Вкупно за наплата:</h6>
              </td>
              <td></td>
              <td> <strong>56.99 ден.</strong> </td>
            </tr>
            </tbody>
          </table>

          <div class="form-group">
            <label>Card Number</label>
            <input type="text" class="form-control" name="master-number" placeholder="Card Number" value="">
          </div>
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" name="master-name" placeholder="Full Name" value="">
          </div>
          <div class="row">
            <div class="col-xl-6 form-group">
              <label>Expiry Date</label>
              <input type="text" class="form-control" name="master-expiry" placeholder="Expiry Date (MM/YY)" value="">
            </div>
            <div class="col-xl-6 form-group">
              <label>CVV*</label>
              <input type="number" class="form-control" name="master-cvv" placeholder="CVV" value="">
            </div>
          </div>

          <p class="small">Вашите лични податоци ќе се користат за обработка на вашата нарачка и за други цели опишани во нашата
            <a class="btn-link" href="#">полиса за приватност.</a> </p>
          <button type="submit" class="btn-custom primary btn-block">Направи нарачка</button>

          <!-- Order Details End -->

        </div>
      </div>
    </form>

  </div>
</section>
<!-- Checkout End -->


<app-footer></app-footer>
<!-- Vendor Scripts -->
<script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
<script src="/assets/js/plugins/popper.min.js"></script>
<script src="/assets/js/plugins/waypoint.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
<script src="/assets/js/plugins/imagesloaded.min.js"></script>
<script src="/assets/js/plugins/jquery.steps.min.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
<script src="/assets/js/plugins/slick.min.js"></script>

<!-- Slices Scripts -->
<script src="/assets/js/main.js"></script>

</body>

</html>
