<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon.ico">

</head>
<body>
<div #target></div>
<app-preloader></app-preloader>
<app-header></app-header>
<!-- Header Start -->
<!-- Header End -->
<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('https://images.pexels.com/photos/5792329/pexels-photo-5792329.jpeg?auto=compress&cs=tinysrgb&w=1600')">
  <div class="container">
    <div class="subheader-inner">
      <h1>Мени</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Почетна</a></li>
          <li class="breadcrumb-item"><a href="/menu">Мени</a></li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<!-- Subheader End -->

<!-- Menu Wrapper Start -->
<div class="section section-padding menu-v2">
  <div class="container">

    <!-- Category Start -->
    <div class="menu-category dark-overlay dark-overlay-2"
         style="background-image: url('/assets/img/free-photo-of-food-pizza-restaurant-dinner.jpeg')">
      <h3>Пици</h3>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.name == 'Пица' ">
        <!-- Product Start -->
        <div class="col-lg-4 col-md-6">
          <div class="product" *ngIf="product.available">
            <a class="product-thumb" routerLink="/product/{{product.id}}"> <img [src]="transformData(product).image"
                                                                                alt="menu item"/> </a>
            <div class="product-body">
              <div class="product-desc">
                <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                <p>{{product.description}}</p>
                <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                  Измени <i
                  class="fas fa-plus"></i> </a>
              </div>
              <div class="product-controls">
                <p class="product-price">{{product.price}} ден.</p>
                <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                  class="fas fa-shopping-cart"></i> </a>
              </div>
            </div>
          </div>
          <div class="product" *ngIf="!product.available">
            <a class="product-thumb"> <img [src]="transformData(product).image" alt="menu item"/> </a>
            <div class="product-body">
              <div class="product-desc">
                <h4><a>{{product.name}}</a></h4>
                <p>{{product.description}}</p>
                <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                  Измени <i
                  class="fas fa-plus"></i> </a>
              </div>
              <div class="product-controls">
                <p class="product-price">{{product.price}} ден.</p>
                <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                  class="fas fa-shopping-cart"></i> </a>
              </div>
            </div>
            <div class="overlay"> <h4>Моментално недостапно</h4> </div>
          </div>
        </div>
        <!-- Product End -->
        </ng-container>
      </ng-container>

    </div>

    <!-- Category End -->
    <br>
    <!-- Category Start -->
    <div class="menu-category dark-overlay dark-overlay-2"
         style="background-image: url('https://images.pexels.com/photos/4113663/pexels-photo-4113663.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
      <h3>Ладни пијалоци</h3>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.name == 'Ладни пијалоци' ">
          <!-- Product Start -->
          <div class="col-lg-4 col-md-6">
            <div class="product" *ngIf="product.available">
              <a class="product-thumb" routerLink="/product/{{product.id}}"> <img [src]="transformData(product).image"
                                                                                  alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
            </div>
            <div class="product" *ngIf="!product.available">
              <a class="product-thumb"> <img [src]="transformData(product).image" alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a>{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
              <div class="overlay"> <h4>Моментално недостапно</h4> </div>
            </div>
          </div>
          <!-- Product End -->
        </ng-container>
      </ng-container>
    </div>
    <!-- Category End -->
    <!-- Category Start -->
    <div class="menu-category dark-overlay dark-overlay-2"
         style="background-image: url('https://images.pexels.com/photos/269126/pexels-photo-269126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
      <h3>Кафе</h3>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.name == 'Кафе' ">
          <!-- Product Start -->
          <div class="col-lg-4 col-md-6">
            <div class="product" *ngIf="product.available">
              <a class="product-thumb" routerLink="/product/{{product.id}}"> <img [src]="transformData(product).image"
                                                                                  alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
            </div>
            <div class="product" *ngIf="!product.available">
              <a class="product-thumb"> <img [src]="transformData(product).image" alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a>{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
              <div class="overlay"> <h4>Моментално недостапно</h4> </div>
            </div>
          </div>
          <!-- Product End -->
        </ng-container>
      </ng-container>
    </div>
    <!-- Category End -->
    <!-- Category Start -->
    <div class="menu-category dark-overlay dark-overlay-2"
         style="background-image: url('https://images.pexels.com/photos/1089932/pexels-photo-1089932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
      <h3>Пиво</h3>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.name == 'Пиво' ">
          <!-- Product Start -->
          <div class="col-lg-4 col-md-6">
            <div class="product" *ngIf="product.available">
              <a class="product-thumb" routerLink="/product/{{product.id}}"> <img [src]="transformData(product).image"
                                                                                  alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
            </div>
            <div class="product" *ngIf="!product.available">
              <a class="product-thumb"> <img [src]="transformData(product).image" alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a>{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
              <div class="overlay"> <h4>Моментално недостапно</h4> </div>
            </div>
          </div>
          <!-- Product End -->
        </ng-container>
      </ng-container>
    </div>
    <!-- Category End -->
    <!-- Category Start -->
    <div class="menu-category dark-overlay dark-overlay-2"
         style="background-image: url('https://images.pexels.com/photos/339696/pexels-photo-339696.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
      <h3>Жестоко</h3>

    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.name == 'Жестоко' ">
          <!-- Product Start -->
          <div class="col-lg-4 col-md-6">
            <div class="product" *ngIf="product.available">
              <a class="product-thumb" routerLink="/product/{{product.id}}"> <img [src]="transformData(product).image" alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
            </div>
            <div class="product" *ngIf="!product.available">
              <a class="product-thumb"> <img [src]="transformData(product).image" alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a>{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
              <div class="overlay"> <h4>Моментално недостапно</h4> </div>
            </div>
          </div>
          <!-- Product End -->
        </ng-container>
      </ng-container>
    </div>
    <!-- Category End -->
  </div>
</div>
<!-- Menu Wrapper End -->

<!-- Footer Start -->
<app-footer (scrollEmitter)="scrollToTop(target)"></app-footer>
<!-- Footer End -->
<!-- Slices Scripts -->
</body>

</html>
