<div class="modal fade" id="customizeModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header modal-bg" style="background-image: url('/assets/img/blog/11.jpg')">
          <button type="button" class="close-btn" data-dismiss="modal" aria-label="Close">
            <span></span>
            <span></span>
          </button>

        </div>
        <div class="modal-body">
          <div class="customize-meta">
            <h4 class="customize-title">Pepperoni Pizza 1 <span class="custom-primary">13.99$</span> </h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            </p>
          </div>

          <div class="customize-variations">

            <div class="customize-size-wrapper">
              <h5>Size: </h5>
              <div class="customize-size active">
                11"
              </div>
              <div class="customize-size">
                16"
              </div>
              <div class="customize-size">
                21"
              </div>
            </div>

            <div class="row">

              <!-- Variation Start -->
              <div class="col-lg-4 col-12">
                <div class="customize-variation-wrapper">
                  <i class="flaticon-bread-roll"></i>
                  <h5>Dough</h5>
                  <div class="customize-variation-item" data-price="0.00">
                    <div class="custom-control custom-radio">
                      <input type="radio" checked id="regularDough" name="dough" class="custom-control-input">
                      <label class="custom-control-label" for="regularDough">Regular</label>
                    </div>
                    <span>+0.00$</span>
                  </div>
                  <div class="customize-variation-item" data-price="2.00">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="thinDough" name="dough" class="custom-control-input">
                      <label class="custom-control-label" for="thinDough">Hand Flipped</label>
                    </div>
                    <span>+2.00$</span>
                  </div>
                  <div class="customize-variation-item" data-price="4.00">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="multiGrainDough" name="dough" class="custom-control-input">
                      <label class="custom-control-label" for="multiGrainDough">Multi Grain</label>
                    </div>
                    <span>+4.00$</span>
                  </div>
                </div>
              </div>
              <!-- Variation End -->

              <!-- Variation Start -->
              <div class="col-lg-4 col-12">
                <div class="customize-variation-wrapper">
                  <i class="flaticon-pizza-slice"></i>
                  <h5>Crust</h5>
                  <div class="customize-variation-item" data-price="4.00">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="cheeseCrust" name="crust" class="custom-control-input">
                      <label class="custom-control-label" for="cheeseCrust">Cheese</label>
                    </div>
                    <span>+4.00$</span>
                  </div>
                  <div class="customize-variation-item" data-price="3.25">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="butterCrust" name="crust" class="custom-control-input">
                      <label class="custom-control-label" for="butterCrust">Butter</label>
                    </div>
                    <span>+3.25$</span>
                  </div>
                </div>
              </div>
              <!-- Variation End -->

              <!-- Variation Start -->
              <div class="col-lg-4 col-12">
                <div class="customize-variation-wrapper">
                  <i class="flaticon-pizza-and-cutted-slice"></i>
                  <h5>Add</h5>
                  <div class="customize-variation-item" data-price="2.00">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="addChicken">
                      <label class="custom-control-label" for="addChicken">Chicken</label>
                    </div>
                    <span>+2.00$</span>
                  </div>
                  <div class="customize-variation-item" data-price="1.20">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="addFourCheese">
                      <label class="custom-control-label" for="addFourCheese">Four Cheese</label>
                    </div>
                    <span>+1.20$</span>
                  </div>
                  <div class="customize-variation-item" data-price="0.75">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="addFreshMushroom">
                      <label class="custom-control-label" for="addFreshMushroom">Fresh Mushroom</label>
                    </div>
                    <span>+0.75$</span>
                  </div>
                  <div class="customize-variation-item" data-price="0.25">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="addBellPepper">
                      <label class="custom-control-label" for="addBellPepper">Bell Peppers</label>
                    </div>
                    <span>+0.25$</span>
                  </div>
                </div>
              </div>
              <!-- Variation End -->

            </div>
          </div>

          <div class="customize-controls">
            <div class="qty">
              <span class="qty-subtract"><i class="fas fa-minus"></i></span>
              <input type="text" name="qty" value="1">
              <span class="qty-add"><i class="fas fa-plus"></i></span>
            </div>
            <div class="customize-total" data-price="13.99">
              <h5>Total Price: <span class="final-price custom-primary">13.99 <span>$</span> </span> </h5>
            </div>
          </div>

          <button type="button" class="btn-custom btn-block">Order Now</button>

        </div>
      </div>
    </div>
  </div>