<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<app-header></app-header>

<body  style="background: whitesmoke">
<div class="page-404-wrapper">
  <div class="page-404-text">
    <h1>Вашата нарачка е успешно креирана !</h1>
    <p>Истата можете да ја подигнете за 40 минути од сега</p>
    <a href="" class="btn-custom">Вратете се на почетна</a>
  </div>

  <div class="banner-bottom-img ">
    <img loading="lazy" src="/assets/img/2.png" alt="veg">
    <img loading="lazy" src="/assets/img/3.png" alt="pizza">
    <img loading="lazy" src="/assets/img/12.png" alt="veg">
  </div>
</div>

<app-footer></app-footer>

</body>

</html>
