  <!-- Order Online Start -->
  <div class="section">

    <div class="container">
      <div class="section text-center cta-2 cta bg-cover bg-center dark-overlay dark-overlay-2 bg-parallax" style="background-image: url('/assets/img/bg/cta-2.jpg')">
        <div class="section-title-wrap section-header text-center">
          <h5 class="custom-primary">Get Crafty</h5>
          <h2 class="title text-white">Build Your Own Pizza Today</h2>
          <p class="subtitle text-white">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
        <a href="menu-item-v2.html" class="btn-custom shadow-none">Build Your Pizza</a>
      </div>

      <div class="container">
        <div class="gallery-slider">
          <a href="/assets/img/blog/2.jpg" class="gallery-thumb">
            <img src="/assets/img/blog/2.jpg" alt="post">
          </a>
          <a href="/assets/img/blog/3.jpg" class="gallery-thumb">
            <img src="/assets/img/blog/3.jpg" alt="post">
          </a>
          <a href="/assets/img/blog/4.jpg" class="gallery-thumb">
            <img src="/assets/img/blog/4.jpg" alt="post">
          </a>
          <a href="/assets/img/blog/5.jpg" class="gallery-thumb">
            <img src="/assets/img/blog/5.jpg" alt="post">
          </a>
          <a href="/assets/img/blog/6.jpg" class="gallery-thumb">
            <img src="/assets/img/blog/6.jpg" alt="post">
          </a>
          <a href="/assets/img/blog/8.jpg" class="gallery-thumb">
            <img src="/assets/img/blog/8.jpg" alt="post">
          </a>
        </div>
      </div>

    </div>

  </div>
  <!-- Order Online End -->