  <!-- Order Online Start -->
  <div class="section">

    <div class="container">
      <div class="section text-center cta-2 cta bg-cover bg-center dark-overlay dark-overlay-2 bg-parallax" style="background-image: url('/assets/img/pexels-valeria-boltneva-16677737.jpg')">
        <div class="section-title-wrap section-header text-center">
          <h5 class="custom-primary">Get Crafty</h5>
          <h2 class="title text-white">Build Your Own Pizza Today</h2>
          <p class="subtitle text-white">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
        <a href="menu-item-v2.html" class="btn-custom shadow-none">Build Your Pizza</a>
      </div>

      <div class="container">
        <div class="gallery-section">
          <a href="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-28-879.jpg" class="gallery-thumb">
            <img src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-28-879.jpg" alt="post">
          </a>
          <a href="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-290.jpg" class="gallery-thumb">
            <img src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-290.jpg" alt="post">
          </a>
          <a href="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-921.jpg" class="gallery-thumb">
            <img src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-921.jpg" alt="post">
          </a>
        </div>
      </div>

    </div>

  </div>
  <!-- Order Online End -->
