<!-- Icons Start -->
<div class="section pt-0">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <br>
        <h5 class="custom-primary">Како до</h5>
        <h2 class="title">Вкусна пица во 4 чекори</h2>
        <p class="subtitle">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>

      <div class="row infographics-2">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-online-booking"></i>
            <h4>Нарачај !</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-calories"></i>
            <h4>Почекај да се приготви</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-delivery-man"></i>
            <h4>Преземи ја нарачката</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-food-tray"></i>
            <h4>Уживај !</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
      </div>

      <div class="section-btn">
        <a href="/menu" class="btn-custom">Нарачај веднаш !</a>
      </div>

    </div>
  </div>
  <!-- Icons End -->
