<!-- Icons Start -->
<div class="section pt-0">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h5 class="custom-primary">How We Do It</h5>
        <h2 class="title">We Deliver Your Food In 4 Steps</h2>
        <p class="subtitle">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>

      <div class="row infographics-2">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-online-booking"></i>
            <h4>Order</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-calories"></i>
            <h4>Cook</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-delivery-man"></i>
            <h4>Deliver</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-food-tray"></i>
            <h4>Enjoy</h4>
            <p>There are many variations of passages of Lorem Ipsum available</p>
          </div>
        </div>
      </div>

      <div class="section-btn">
        <a href="menu-v1.html" class="btn-custom">Order Online</a>
      </div>

    </div>
  </div>
  <!-- Icons End -->