<app-preloader></app-preloader>
<section class="gradient-custom d-flex flex-column h-100" style="background-image: url('/assets/img/360_F_340930009_WtmPbofCmuBGo3SxTR59e3qUrUs8Bm2Y.jpg');">
  <div class="container flex-grow-1" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-10">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0"><span style="color: #a8729a;">Нарачки</span></h5>
            <h6 class="text-muted mb-0 mt-3">
              <button type="button" class="btn btn-info btn-sm me-4 text-white" (click)="resetFilter()">Сите нарачки
              </button>
              <button type="button" class="btn btn-warning btn-sm me-4 text-white" (click)="showProcessing()">
                Процесирање
              </button>
              <button type="button" class="btn btn-success btn-sm me-4 text-white" (click)="showFinished()">Завршени
              </button>
            </h6>
          </div>
          <div class="card-body p-4">
            <ng-scrollbar style="height:68vh">
              <div class="card shadow-0 border mb-4" *ngFor="let order of filteredOrders">
                <h5 class="mt-2 ms-2 text-center">{{order.customerName + ' ' + order.customerSurname}}
                  [ {{order.customerPhone}} ] - {{order.createdOn}}</h5>
                <h5 class="mt-2 ms-2 text-center" *ngIf="order.deliveryAddress!=''"><span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
  <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
</svg></span> [ {{order.deliveryAddress}} ]</h5>
                <h5 class="mt-2 ms-2 text-center" *ngIf="order.deliveryAddress==''"><span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
  <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
</svg></span> </h5>
                <div class="card-body" *ngFor="let productItem of order.items">
                  <div class="row">
                    <div class="col-md-2">
                      <span class="badge badge-info" style="font-size:1rem;" *ngIf="productItem.product.category.name == 'Пица'">#{{productItem.product.pizzaNumber}}</span>
                      <img [src]="productItem.product.image"
                           class="img-fluid" alt="Phone" loading="lazy">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{productItem.product.name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Количина: <span class="fw-bolder"
                                                                       style="color: #a8729a;">{{productItem.quantity}}</span>
                      </p>
                    </div>
                    <div *ngIf="productItem.notIngredients.length > 0" class="col-md-6 text-center d-flex justify-content-center align-items-center">
                      <span *ngFor="let ingredient of productItem.notIngredients" class="image-container">
                        <img [src]="ingredient.image" [alt]="ingredient.name" width="30px" height="30px" class="mx-3"/>
                        <div class="red-cross"></div>
                      </span>
                    </div>
                  </div>
                </div>
                <p class="align-self-center">Број на нарачка: <b>{{order.id}}</b></p>
                <span class="badge badge-info ms-3 align-self-center" style="width:15rem" *ngIf="!order.finished">Статус:  <strong style="color:greenyellow">Се процесира</strong></span>
                <span class="badge badge-success ms-3 align-self-center" style="width:15rem" *ngIf="order.finished">Статус:  <strong style="color:lightgoldenrodyellow">Завршена</strong></span>
                <br>
                <p class="text-muted mt-1 mb-0 text-center align-self-center">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="order.finished" name="orderFinished"
                           (change)="orderStatusChanged(order)">
                    <span class="slider"></span>
                  </label>
                </p>
              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
