<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>
<app-header></app-header>
<body>
<!-- Header Start -->
<!-- Header End -->
<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('/assets/img/pexels-marta-dzedyshko-2067401.jpg')">
  <div class="container">
    <div class="subheader-inner">
      <h1>Мени</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Почетна</a></li>
          <li class="breadcrumb-item"><a href="/menu">Мени</a></li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<!-- Subheader End -->

<!-- Menu Wrapper Start -->
<div class="section section-padding menu-v2">
  <div class="container">

    <!-- Category Start -->
    <div class="menu-category dark-overlay dark-overlay-2"
         style="background-image: url('/assets/img/free-photo-of-food-pizza-restaurant-dinner.jpeg')">
      <h3>Пици</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard</p>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.name == 'Пица' ">
        <!-- Product Start -->
        <div class="col-lg-4 col-md-6">
          <div class="product" *ngIf="product.available">
            <a class="product-thumb" routerLink="/product/{{product.id}}"> <img src="/assets/img/prods-sm/5.png"
                                                                                alt="menu item"/> </a>
            <div class="product-body">
              <div class="product-desc">
                <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                <p>{{product.description}}</p>
                <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                  Измени <i
                  class="fas fa-plus"></i> </a>
              </div>
              <div class="product-controls">
                <p class="product-price">{{product.price}} ден.</p>
                <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                  class="fas fa-shopping-cart"></i> </a>
              </div>
            </div>
          </div>
          <div class="product" *ngIf="!product.available">
            <a class="product-thumb"> <img src="/assets/img/prods-sm/5.png" alt="menu item"/> </a>
            <div class="product-body">
              <div class="product-desc">
                <h4><a>{{product.name}}</a></h4>
                <p>{{product.description}}</p>
                <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                  Измени <i
                  class="fas fa-plus"></i> </a>
              </div>
              <div class="product-controls">
                <p class="product-price">{{product.price}} ден.</p>
                <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                  class="fas fa-shopping-cart"></i> </a>
              </div>
            </div>
            <div class="overlay"> <h4>Моментално недостапно</h4> </div>
          </div>
        </div>
        <!-- Product End -->
        </ng-container>
      </ng-container>

    </div>
    <!-- Category End -->
    <br>
    <!-- Category Start -->
    <div class="menu-category dark-overlay dark-overlay-2"
         style="background-image: url('/assets/img/pexels-alleksana-4113663.jpg')">
      <h3>Пијалоци</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard</p>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <ng-container *ngIf="product.category.name == 'Пијалоци' ">
          <!-- Product Start -->
          <div class="col-lg-4 col-md-6">
            <div class="product" *ngIf="product.available">
              <a class="product-thumb" routerLink="/product/{{product.id}}"> <img src="/assets/img/prods-sm/5.png"
                                                                                  alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
            </div>
            <div class="product" *ngIf="!product.available">
              <a class="product-thumb"> <img src="/assets/img/prods-sm/5.png" alt="menu item"/> </a>
              <div class="product-body">
                <div class="product-desc">
                  <h4><a>{{product.name}}</a></h4>
                  <p>{{product.description}}</p>
                  <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                    Измени <i
                    class="fas fa-plus"></i> </a>
                </div>
                <div class="product-controls">
                  <p class="product-price">{{product.price}} ден.</p>
                  <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                    class="fas fa-shopping-cart"></i> </a>
                </div>
              </div>
              <div class="overlay"> <h4>Моментално недостапно</h4> </div>
            </div>
          </div>
          <!-- Product End -->
        </ng-container>
      </ng-container>
    </div>
    <!-- Category End -->

  </div>
</div>
<!-- Menu Wrapper End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Vendor Scripts -->
<script src="/assets/js/plugins/jquery-3.4.1.min.js"></script>
<script src="/assets/js/plugins/popper.min.js"></script>
<script src="/assets/js/plugins/waypoint.js"></script>
<script src="/assets/js/plugins/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/plugins/jquery.slimScroll.min.js"></script>
<script src="/assets/js/plugins/imagesloaded.min.js"></script>
<script src="/assets/js/plugins/jquery.steps.min.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/isotope.pkgd.min.js"></script>
<script src="/assets/js/plugins/slick.min.js"></script>

<!-- Slices Scripts -->
</body>

</html>
