<!-- Header Start -->
<div>
  <header class="main-header header-1">
    <div class="top-header">
      <div class="container">
        <div class="top-header-inner">
          <div class="top-header-contacts">
            <ul class="top-header-nav">
              <li><a class="p-0"><i class="fas fa-phone mr-2"></i> +389/71 273 592 (viber/whatsapp)</a>
              </li>
            </ul>
          </div>
          <ul class="top-header-nav header-cta">
            <li><a routerLink="/menu">Нарачај онлајн</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <nav class="navbar">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/"> <img [lazyLoad]="'assets/img/ulaf%20ste%20logo%20crno.png'" alt="logo"
                                                     height="73" width="135"> </a>
        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item menu-item-has-children">
            <a routerLink="/">Почетна</a>
          </li>
          <li class="menu-item menu-item-has-children mega-menu-wrapper">
            <a routerLink="/menu">Мени</a>
          </li>
          <li class="menu-item">
            <a routerLink="/about">За нас</a>
          </li>
          <li class="menu-item">
            <a routerLink="/contact">Контакт</a>
          </li>
        </ul>
        <div class="header-controls">
          <ul class="header-controls-inner">
            <li class="cart-dropdown-wrapper cart-trigger">
              <span class="cart-item-count">{{getNumOfCartItems()}}</span>
              <i class="flaticon-shopping-bag" (click)="openCart()"></i>
            </li>
<!--            <li class="search-dropdown-wrapper search-trigger">-->
<!--              <i class="flaticon-search"></i>-->
<!--            </li>-->
          </ul>
          <!-- Toggler -->
          <div class="aside-toggler aside-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </nav>
    </div>
    <app-mobile-navigation></app-mobile-navigation>
  </header>
</div>
<app-floating-cart [cartOpen]="cartOpen" (cartCloseEvent)="closeCart()"></app-floating-cart>
<!-- Header End -->
