<!DOCTYPE html>
<html lang="en" dir="ltr">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Intro+Rust+G+Baseline&display=swap">
<body>
  <div #target></div>
<app-preloader></app-preloader>
  <app-header></app-header>

  <app-banner></app-banner>

  <!-- Menu Categories Start -->
  <app-categories-menu-homepage></app-categories-menu-homepage>
<!-- Menu wrapper is here -->

  <app-infographics></app-infographics>

  <app-how-we-do-it></app-how-we-do-it>

  <app-instagram></app-instagram>

  <app-footer (scrollEmitter)="scrollToTop(target)"></app-footer>
  <!-- Vendor Scripts -->

</body>

</html>
