.ct-footer {
  background-color: #f9f9f9;
  padding: 80px 0 0;
}
.ct-footer p{
  margin-bottom: 20px;
  color: #515151;
}
.footer-top{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}
.footer-middle a,
.footer-middle i{
  color: #515151;
}
.footer-middle a:hover{
  color: #ED4E53;
}
.footer-bottom ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 20px;
}
.footer-bottom ul li{
  margin: 0;
}
.footer-bottom ul li a{
  padding-right: 20px;
  color: #515151;
}
.footer-bottom ul li a:hover{
  color: #ED4E53;
}
.footer-bottom .footer-copyright{
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-bottom .footer-copyright p{
  margin: 0;
}
.footer-bottom .footer-copyright > a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1D2228;
  font-size: 14px;
  font-weight: 600;
}
.footer-bottom .footer-copyright > a:hover{
  color: #ED4E53;
}
.footer-bottom .footer-copyright > a i{
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #4e4e4e;
  color: #fff;
  margin-left: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.footer-bottom .footer-copyright > a:hover i{
  background-color: #ED4E53;
  color: #fff;
}
.footer-widget {
  padding-bottom: 60px;
}
.footer-buttons a{
  display: inline-block;
  width: 150px;
}
.footer-widget .widget-title{
  margin-bottom: 20px;
}
.footer-logo{
  width: 180px;
}
.footer-widget ul {
  margin: 0;
}
.footer-widget ul li + li{
  margin: 10px 0 0;
}
.footer-widget ul li a {
  position: relative;
  display: block;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
}
.footer-widget ul li a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 28px;
  margin-left: auto;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #ED4E53;
  padding-right: 10px;
}
.footer-widget ul li a i{
  font-weight: 400;
}
.footer-widget ul li a:hover{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.footer-widget ul li a:hover::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.footer-widget ul.social-media li {
  display: inline-block;
  margin-top: 0;
}
.footer-widget ul.social-media li a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  border: 0;
  color: #fff;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-widget ul.social-media li a::before{
  display: none;
}
.footer-widget ul.social-media li a i{
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer-widget ul.social-media li a:hover i{
  color: #fff;
}
.footer-offer{
  margin-top: 15px;
}
.footer-offer p{
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 15px;
}
.footer-offer .btn-custom,
.footer-offer .btn-custom:hover{
  color: #fff;
}

/* Dark Footer */
.ct-footer.footer-dark{
  background-color: #1D2228;
}
.ct-footer.footer-dark p,
.ct-footer.footer-dark .footer-widget ul li a::before,
.ct-footer.footer-dark .footer-bottom ul li a:hover,
.ct-footer.footer-dark .footer-widget ul li a:hover,
.ct-footer.footer-dark .footer-bottom .footer-copyright > a,
.ct-footer.footer-dark .footer-widget .widget-title{
  color: #fff;
}

.ct-footer.footer-dark .footer-bottom ul li a,
.ct-footer.footer-dark .footer-widget ul li a{
  color: #b7b7b7;
}
.ct-footer.footer-dark .footer-bottom ul{
  border-bottom: 1px solid rgba(255,255,255,.1);
}
a {
  text-decoration: none;
}
