<!-- Footer Start -->
  <footer class="ct-footer footer-dark">
    <!-- Top Footer -->
    <div class="container">
      <div class="footer-top">
        <div class="footer-logo">
          <img src="assets\img\ulaf_ste_logo-removebg-preview.png" alt="logo" width="100px" height="50px">
        </div>
        <div class="footer-logo" style="width: 100%">
          <p style="font-size:29px" class="text-center">Прв локал на знаковен јазик во Македонија 🤟🏻</p>
        </div>
      </div>
    </div>

    <!-- Middle Footer -->
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
            <h5 class="widget-title"> > Навигација</h5>
            <ul>
              <li> <a routerLink="">Почетна</a> </li>
              <li> <a routerLink="/about">За нас</a> </li>
              <li> <a routerLink="/menu">Mени</a> </li>
              <li> <a routerLink="/contact">Контакт</a> </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
            <h5 class="widget-title"> > Најпопуларни производи</h5>
            <ul>
              <li> <a routerLink="/product/2">Капричиоза</a> </li>
              <li> <a routerLink="/product/1">Маргарита</a> </li>
              <li> <a routerLink="/product/3">Чинкве Фромаџи</a> </li>
              <li> <a routerLink="/product/4">Векиа Наполи</a> </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
            <h5 class="widget-title"> > Корисни линкови</h5>
            <ul>
              <li> <a routerLink="/checkout">Наплата</a> </li>
              <li> <a routerLink="/cart">Кошничка</a> </li>
              <li> <a routerLink="/menu">Производи</a> </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 footer-widget">
            <h5 class="widget-title">Заследете не на социјалните мрежи</h5>
            <ul class="social-media">
              <li> <a href="https://www.facebook.com/ulafstecoffeshop/" class="facebook" target="_blank"> <i class="fab fa-facebook-f"></i> </a> </li>
              <li> <a href="https://www.instagram.com/ulafstecoffeshop/" class="instagram" target="_blank"> <i class="fab fa-instagram"></i> </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="container">
        <ul>
          <li> <a routerLink="#">Политика на приватност</a> </li>
          <li> <a routerLink="#">Колачиња</a> </li>
          <li> <a routerLink="#">Правила и услови</a> </li>
        </ul>
        <div class="footer-copyright">
          <p> Copyright &copy; 2023 Powered By <a href="https://nativecreativa.com/">NativeCreativa</a> Сите права задржани. </p>
          <a class="back-to-top" (click)="scrollToTop()"> <i class="fas fa-chevron-up"></i> </a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
