<!-- Aside (Mobile Navigation) -->
<aside class="main-aside">
  <a class="navbar-brand" href="index.html"> <img src="/assets/img/logo.png" alt="logo"> </a>

  <div class="aside-scroll">
    <ul>
      <li class="menu-item menu-item-has-children">
        <a href="#">Home Pages</a>
        <ul class="submenu">
          <li class="menu-item"> <a href="index.html">Home v1</a> </li>
          <li class="menu-item"> <a href="home-v2.html">Home v2</a> </li>
          <li class="menu-item"> <a href="home-v3.html">Home v3</a> </li>
          <li class="menu-item"> <a href="home-v4.html">Home v4</a> </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a href="#">Blog</a>
        <ul class="submenu">
          <li class="menu-item menu-item-has-children">
            <a href="blog-grid.html">Blog Archive</a>
            <ul class="submenu">
              <li class="menu-item"> <a href="blog-grid.html">Grid View</a> </li>
              <li class="menu-item"> <a href="blog-list.html">List View</a> </li>
              <li class="menu-item"> <a href="blog-masonry.html">Masonry</a> </li>
              <li class="menu-item"> <a href="blog-full-width.html">Full Width</a> </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="blog-single.html">Blog Single</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a href="#">Pages</a>
        <ul class="submenu">
          <li class="menu-item"> <a href="about-us.html">About Us</a> </li>
          <li class="menu-item"> <a href="login.html">Login</a> </li>
          <li class="menu-item"> <a href="register.html">Sign Up</a> </li>
          <li class="menu-item"> <a href="checkout.html">Checkout</a> </li>
          <li class="menu-item"> <a href="cart.html">Cart</a> </li>

          <li class="menu-item"> <a href="legal.html">Legal</a> </li>
          <li class="menu-item"> <a href="404.html">Error 404</a> </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a href="#">Menu</a>
        <ul class="submenu">
          <li class="menu-item"> <a href="menu-v1.html">Menu v1</a> </li>
          <li class="menu-item"> <a href="menu-v2.html">Menu v2</a> </li>
          <li class="menu-item"> <a href="menu-item-v1.html">Menu Item v1</a> </li>
          <li class="menu-item"> <a href="menu-item-v2.html">Menu Item v2</a> </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="locations.html">Locations</a>
      </li>
      <li class="menu-item">
        <a href="contact-us.html">Contact Us</a>
      </li>
    </ul>

  </div>

</aside>
<div class="aside-overlay aside-trigger"></div>
