<!-- Aside (Mobile Navigation) -->
<aside class="main-aside">
  <a class="navbar-brand"> <img src="./assets/img/ulaf ste logo crno.png">  </a>

  <div class="aside-scroll">
    <ul>
      <li class="menu-item">
        <a routerLink="">Почетна</a>
      </li><li class="menu-item">
        <a routerLink="/menu">Мени</a>
      </li><li class="menu-item">
        <a routerLink="/about">За нас</a>
      </li><li class="menu-item">
        <a routerLink="/contact">Контакт</a>
      </li>
    </ul>

  </div>

</aside>
<div class="aside-overlay aside-trigger"></div>
