<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/animate.min.css">
  <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick.css">
  <link rel="stylesheet" href="/assets/css/plugins/slick-theme.css">
  <!-- Icon Fonts -->
  <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.min.css">

  <!-- Slices Style sheet -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="../../../../../../Desktop/slices-template/Product%20File/favicon.ico">

</head>
<app-header></app-header>

<body  style="background: whitesmoke">
<div class="page-404-wrapper">
  <div class="page-404-text">
    <h1>Страницата не е пронајдена</h1>
    <p>Извинете но страницата која ја побаравте не постои</p>
    <a href="" class="btn-custom">Вратете се на почетна</a>
  </div>

  <div class="banner-bottom-img">
    <img src="/assets/img/2.png" alt="veg">
    <img src="/assets/img/3.png" alt="pizza">
    <img src="/assets/img/12.png" alt="veg">
  </div>
</div>

<app-footer></app-footer>

</body>

</html>
