<!-- Infographics Start -->
<div class="section section-padding bg-cover bg-center dark-overlay dark-overlay-2 d-flex"
     [style.backgroundImage]="'url(https://images.pexels.com/photos/3343622/pexels-photo-3343622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)'">

  <div class="container" style="width: 100%;">
    <div class="section-title-wrap section-header text-center row" style="width: 100%;">
      <h2 class="title text-white">Нашата приказна</h2>
      <p class="subtitle text-white col-xl-12">
        Првата авантура беше кафе барот неколку месеци пред Ковид-19 во Скопје. Се соочивме со некои борби, како што е
        бројот на клиенти што се намали поради многу различни причини. Клиентите не можеа да го посетат кафе барот поради
        ограничувањата, што доведе до намалување на приходите. Ние не се откажавме. Решени да успееме, баравме алтернативни
        начини за подобрување на барот и пазарот. Тоа донесе позитивен исход и ни помогна да останеме на пазарот и да се
        развиваме. Една од главните пречки беше тоа што кога луѓето носеа маски, нас ни беше тешко да комуницираме бидејќи
        читавме од нивните усни. Со отворањето на Улаф Сте, сакаме да испратиме порака дека глувите лица и воопшто лицата со
        различни попречености се способни да смислат различни бизнис идеи. Тие се соочуваат со истите борби како и останатите,
        но сепак ги постигнуваат своите цели. Тимот сакаше да докаже дека можат да придонесат исто како и останатите во
        општеството. Вклучувањето е клучот до заедничко општество.
      </p>
    </div>
    <!-- Infographics -->
    <!-- Uncomment the following code to display infographics -->
    <!--
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-employee"></i>
          <h4>24,934</h4>
          <p>Happy Customers</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-pizza-slice"></i>
          <h4>65,317</h4>
          <p>Pizzas Made</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-cheese"></i>
          <h4>4,658</h4>
          <p>Cheese Rolls</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="ct-infographic-item">
          <i class="flaticon-soda"></i>
          <h4>67,335</h4>
          <p>Drinks Served</p>
        </div>
      </div>
    </div>
    -->
    <!-- End of Infographics -->
  </div>
</div>
<!-- Infographics End -->
