<!-- Infographics Start -->
<div class="section section-padding bg-cover bg-center bg-parallax dark-overlay dark-overlay-2" style="background-image: url('/assets/img/pexels-roman-odintsov-4553111.jpg')">

    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title text-white">Нашата приказна</h2>
        <p class="subtitle text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-employee"></i>
            <h4>24,934</h4>
            <p>Happy Customers</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-pizza-slice"></i>
            <h4>65,317</h4>
            <p>Pizzas Made</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-cheese"></i>
            <h4>4,658</h4>
            <p>Cheese Rolls</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="ct-infographic-item">
            <i class="flaticon-soda"></i>
            <h4>67,335</h4>
            <p>Drinks Served</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Infographics End -->
