<!-- Header Start -->
<header class="main-header header-1">

  <div class="top-header">
    <div class="container">
      <div class="top-header-inner">

        <div class="top-header-contacts">
          <ul class="top-header-nav">
            <li> <a class="p-0" href="tel:+123456789"><i class="fas fa-phone mr-2"></i> +123 456 789</a> </li>
          </ul>
        </div>

        <ul class="top-header-nav header-cta">
          <li> <a href="menu-v1.html">Order Online</a> </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    <nav class="navbar">
      <!-- Logo -->
      <a class="navbar-brand" href="/"> <img ngSrc="/assets/img/ulaf_ste_logo" alt="logo" height="73" width="135"> </a>
      <!-- Menu -->
      <ul class="navbar-nav">
        <li class="menu-item menu-item-has-children">
          <a href=" ">Почетна</a>
        </li>
        <li class="menu-item menu-item-has-children mega-menu-wrapper">
          <a href="/menu">Мени</a>
          <ul class="submenu">
            <li>
              <div class="container">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="mega-menu-item">
                      <h5>Направи си пица по избор !</h5>
                      <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                        making it over 2000 years old.
                      </p>
                      <a href="/menu" class="btn-custom secondary shadow-none btn-sm">Продолжи</a>
                    </div>
                  </div>
                  <div class="col-12 mega-menu-promotion-wrapper">
                    <div class="row">
                      <div class="col-3">
                        <div class="mega-menu-promotion">
                          <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/1.png" alt="pizza"></a>
                          <div class="mega-menu-promotion-text">
                            <h4><a href="menu-item-v1.html">Pepperoni T</a></h4>
                            <span>$12.99</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mega-menu-promotion">
                          <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/2.png" alt="pizza"></a>
                          <div class="mega-menu-promotion-text">
                            <h4><a href="menu-item-v1.html">Vegetarian</a></h4>
                            <span>$9.99</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mega-menu-promotion">
                          <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/3.png" alt="pizza"></a>
                          <div class="mega-menu-promotion-text">
                            <h4><a href="menu-item-v1.html">Ham & Cheese</a></h4>
                            <span>$13.99</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mega-menu-promotion">
                          <a href="menu-item-v1.html"><img src="/assets/img/prods-sm/4.png" alt="pizza"></a>
                          <div class="mega-menu-promotion-text">
                            <h4><a href="menu-item-v1.html">Specialty</a></h4>
                            <span>$13.99</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="/about">За нас</a>
        </li>
        <li class="menu-item">
          <a href="/contact">Контакт</a>
        </li>
      </ul>

      <div class="header-controls">
        <ul class="header-controls-inner">
          <li class="cart-dropdown-wrapper cart-trigger">
            <span class="cart-item-count">4</span>
            <i class="flaticon-shopping-bag"></i>
          </li>
          <li class="search-dropdown-wrapper search-trigger">
            <i class="flaticon-search"></i>
          </li>
        </ul>
        <!-- Toggler -->
        <div class="aside-toggler aside-trigger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    </nav>
  </div>

</header>
<app-search-form></app-search-form>
<app-floating-cart></app-floating-cart>
<app-mobile-navigation></app-mobile-navigation>
<!-- Header End -->
