<div class="body-clone align-self-center container my-5" data-pasta="spaghetti">
  <nav class="menu">
  </nav>

  <main>
    <div class="pasta spaghetti">
      <img class="pasta__background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-spaghetti.png" />
      <div class="pasta__info">
        <small>Recipes for</small>
        <h2 data-splitting>Spaghetti</h2>

        <div class="pasta__info__recipes">
          <a target="_blank" href="/"><span>BA's Best Bolognese</span></a>
          <a target="_blank" href="/"><span>White Pesto Pasta</span></a>
          <a target="_blank" href="/"><span>Shrimp Scampi</span></a>
        </div>
      </div>
      <figure class="pasta__dish">
        <div class="pasta__dish__container">
          <img [lazyLoad]="'/assets/img/3.png'" alt="Spaghetti Bolognese" />
        </div>
      </figure>
    </div>
  </main>
</div>
<script>

</script>
