
.banner {
  position: relative;
  height: 300px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the transparency by changing the alpha value (0.7) */
}

.banner-title {
  text-transform: uppercase;
  font-family: 'Arial', sans-serif; /* Use your preferred font-family */
  text-align: left; /* Align the text left */
  margin-left: 20px; /* Add some left margin */
}

.banner-description {
  margin-bottom: 20px;
  text-align: left; /* Align the text left */
  margin-left: 20px; /* Add some left margin */
}
.btn-primary {
  font-family: 'Intro Rust G Baseline', sans-serif;
  background-color: darkred; /* Transparent background by default */
  border-color: whitesmoke; /* White border by default */
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-left:20px;
  text-decoration: none;
  border: 2px solid #ffffff; /* White border by default */
  position: relative;
  overflow: hidden;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.btn-primary:hover {
  color: blanchedalmond; /* White text color on hover */
  border-color: darkred; /* Darkred border on hover */
  background-color: transparent; /* Darkred background on hover */
}

.btn-primary:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff; /* White line by default */
  transform: translateY(-100%); /* Move the line above the button */
  transition: transform 0.3s; /* Use transform instead of top for the animation */
}

.banner-image {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Additional styling for all devices */
@media (max-width: 900px) {
  .banner {
    height: 600px; /* Adjust the height for mobile */
  }

  .banner-title {
    font-size: 20px;
    margin-left: 0; /* Align the text to the left on mobile */
  }

  .banner-description {
    font-size: 10px;
    margin-left: 0; /* Align the text to the left on mobile */
  }

  .btn-primary {
    margin-top: 10px;
  }

  .col-md-6 {
    text-align: left;
    padding-left: 15px;
  }
}









