<div class="body-clone align-self-center container my-5" data-pasta="spaghetti">
  <nav class="menu">
  </nav>

  <main>
    <div class="pasta spaghetti">
      <img class="pasta__background" [lazyLoad]="'/assets/img/2.png'"/>
      <div class="pasta__info text-white">
        <small class="" style="font-famliy:Rubik;">Најпопуларни </small>
        <h2 data-splitting>Пици</h2>

        <div class="pasta__info__recipes ">
          <a target="_blank" routerLink="/product/3"><span class="text-white">Чинкве Фромаџи</span></a>
          <a target="_blank" routerLink="/product/7"><span class="text-white">Пршуто крудо и рукола</span></a>
          <a target="_blank" routerLink="/product/6"><span class="text-white">Андуја Калапрезе</span></a>
        </div>
        <img class="" [lazyLoad]="'/assets/img/12.png'"/>
      </div>
      <figure class="pasta__dish">
        <div class="pasta__dish__container">
          <img [lazyLoad]="'/assets/img/3.png'" alt="Spaghetti Bolognese" />
        </div>
      </figure>
    </div>
  </main>
</div>
