<div class="body-clone align-self-center my-5" data-pasta="spaghetti">
  <nav class="menu">
  </nav>
  <main>
    <div class="pasta spaghetti">
      <img class="pasta__background" [lazyLoad]="'/assets/img/2.png'"/>
      <div class="pasta__info text-white">
        <small class="" style="font-famliy:Rubik;">Најпопуларни </small>
        <h2 data-splitting>Пици</h2>

        <div class="pasta__info__recipes ">
          <a routerLink="/product/{{product.id}}" *ngFor="let product of products"><span class="text-white">{{product.name}}</span></a>
        </div>
        <img src="/assets/img/12.png" loading="lazy"/>
      </div>
      <figure class="pasta__dish">
        <div class="pasta__dish__container">
          <img [lazyLoad]="'/assets/img/3.png'" alt="Spaghetti Bolognese" />
        </div>
      </figure>
    </div>
  </main>
</div>



