.can-sticky + .banner{
  padding: 180px 0 120px;
}
.banner{
  position: relative;
  padding: 120px 0;
  background-size: cover;
  background-position: center;
  min-height: 800px;
}
.banner > .container{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner .title{
  font-size: 62px;
  line-height: 80px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.banner .subtitle{
  color: #848486;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.banner-inner{
  max-width: 700px;
  margin: 0 auto;
  padding-top: 80px;
}

.banner .slick-arrow,
.category-section .slick-arrow{
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #f9f9f9;
  color: #1D2228;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 1;
  overflow: hidden;
}
.banner .slick-arrow.slider-prev,
.category-section .slick-arrow.slider-prev{
  left: 30px;
  right: auto;
}
.banner .slick-arrow:hover,
.category-section .slick-arrow:hover{
  background-color: #FCCC4C;
  border-color: #FCCC4C;
  color: #fff;
}
.banner .slick-dots{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}
.banner.banner-3 {
  padding: 0;
  min-height: auto;
}
.banner.banner-3 .banner-item{
  cursor: pointer;
}
.banner.banner-3 .banner-item.slick-current{
  width: 500px;
}
.banner.banner-3 .banner-inner{
  position: relative;
  padding: 180px 40px;
  background-size: cover;
  background-position: left;
  max-width: 100%;
  z-index: 1;
}
.banner.banner-3 .banner-inner::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,.4);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.banner.banner-3 .banner-item:not(.slick-current):hover .banner-inner::before{
  background-color: rgba(0,0,0,.5);
}
.banner.banner-3 .slick-current .banner-inner::before{
  background-color: rgba(0,0,0,.7);
}

.banner.banner-3 .banner-item .banner-text{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.banner.banner-3 .banner-item.slick-current .banner-text{
  opacity: 1;
  visibility: visible;
}
.banner.banner-3 .banner-inner .title i{
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
  color: red;
}
.banner.banner-3 .banner-inner .title,
.banner.banner-3 .banner-inner,
.banner.banner-3 .banner-inner h5,
.banner.banner-3 .banner-inner .subtitle,
.banner.banner-3 .banner-inner h4{
  color: #fff;
}
.banner.banner-3 .banner-inner .subtitle{
  max-width: 400px;
}
.banner.banner-3 .ct-rating-wrapper{
  margin-bottom: 20px;
}
.banner.banner-3 .ct-arrows-wrapper{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-top-left-radius: 55px;
  padding: 20px 0 0;
}
.banner.banner-3 .ct-arrows .slick-arrow{
  left: auto;
  right: auto;
  top: auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  width: auto;
  height: auto;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 20px 40px;
  margin: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.banner.banner-3 .ct-arrows .slider-prev{
  border-right: 1px solid rgba(0,0,0,.1);
}
.banner.banner-3 .ct-arrows .slick-arrow:hover{
  color: #1D2228;
  background-color: #f9f9f9;
}
.banner.banner-3 .slide-number{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 20px;
}
.banner.banner-3 .slide-number span{
  font-size: 30px;
  font-weight: 700;
  color: #1D2228;
}
.banner.banner-3 .slide-number span + span{
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
