<app-preloader></app-preloader>
<section class="gradient-custom d-flex justify-content-center align-items-center" style="min-height: 100vh;background-image: url('/assets/img/360_F_340930009_WtmPbofCmuBGo3SxTR59e3qUrUs8Bm2Y.jpg');">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg">
        <div class="card border-0">
          <div class="card-header px-3 py-4">
            <h5 class="text-muted mb-0"><span style="color: #a8729a;">Достапност на продукти</span></h5>
            <h6 class="text-muted mb-0 mt-3">
              <button type="button" class="btn btn-info btn-sm me-4 text-white" (click)="showAllCategories()">Сите нарачки
              </button>
              <button type="button" class="btn btn-success btn-sm me-4 text-white" (click)="showPizzaCategories()">Пици
              </button>
              <button type="button" class="btn btn-danger btn-sm me-4 text-white" (click)="showLadniCategories()">Ладни пијалоци
              </button>
              <button type="button" class="btn btn-warning btn-sm me-4 text-white" (click)="showPivoCategories()">Пиво
              </button>
              <button type="button" class="btn btn-secondary btn-sm me-4 text-white" (click)="showZhestokoCategories()">Жестоко
              </button>
            </h6>
          </div>
          <div class="card p-3">
<!--            <div class="form-group">-->
<!--              <label for="categorySelect">Избери категорија:</label>-->
<!--              <select class="form-control" id="categorySelect" #categorySelect-->
<!--                      (change)="categoryChanged(categorySelect.value)">-->
<!--                <option value="">Сите</option>-->
<!--                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}-->
<!--                </option>-->
<!--              </select>-->
<!--            </div>-->

            <ng-scrollbar style="height:68vh">
              <div class="row">
                <ng-container *ngFor="let product of filteredProducts; let i = index;">

                  <div class="col-md-3">
                    <div class="card shadow-sm mb-3">
                      <div class="card-body p-3">
                        <div class="text-center mb-2">
                          <img [src]="transformData(product).image" class="img-fluid" alt="Phone"
                               style="max-height: 120px;">
                        </div>
                        <p class="text-muted mb-0 text-center" style="font-size: 14px;"><span style="color: #a8729a;" class="fw-bolder" *ngIf="product.category.name == 'Пица'">[#{{product.pizzaNumber}}] </span>{{ product.name }}</p>
                        <p class="text-muted mt-1 mb-0 text-center">
                          <label class="switch" style="font-size: 14px;">
                            <input type="checkbox" [(ngModel)]="product.available" name="orderFinished"
                                   (change)="productAvailabilityChanged(product)">
                            <span class="slider"></span>
                          </label>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Add a new row after every fourth product -->
                  <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
                </ng-container>
              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section class="gradient-custom d-flex justify-content-center align-items-center" style="min-height: 100vh;">-->
<!--  <div class="container-fluid py-5">-->
<!--    <div class="row">-->
<!--      <div class="col-lg">-->
<!--        <div class="card border-0">-->
<!--          <div class="card-header px-4 py-5">-->
<!--            <h5 class="text-muted mb-0"><span style="color: #a8729a;">Листа на производи</span></h5>-->
<!--          </div>-->
<!--          <div class="card p-4">-->
<!--            <div class="form-group">-->
<!--              <label for="categorySelect">Избери категорија:</label>-->
<!--              <select class="form-control" id="categorySelect" #categorySelect (change)="categoryChanged(categorySelect.value)">-->
<!--                <option value="">Сите</option>-->
<!--                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--              <ng-container *ngFor="let product of filteredProducts; let i = index;">-->
<!--                <div class="col-md-6">-->
<!--                  <div class="card shadow-sm mb-4">-->
<!--                    <div class="card-body">-->
<!--                      <div class="text-center mb-3">-->
<!--                        <img [src]="transformData(product).image" class="img-fluid" alt="Phone">-->
<!--                      </div>-->
<!--                      <p class="text-muted mb-0 text-center">{{ product.name }}</p>-->
<!--                      <p class="text-muted mt-1 mb-0 text-center">-->
<!--                        <label class="switch">-->
<!--                          <input type="checkbox" [(ngModel)]="product.available" name="orderFinished"-->
<!--                                 (change)="productAvailabilityChanged(product)">-->
<!--                          <span class="slider"></span>-->
<!--                        </label>-->
<!--                      </p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Add a new row after every second product &ndash;&gt;-->
<!--                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>-->
<!--              </ng-container>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
