<!-- Instagram Start -->
<div class="section pt-0">
    <div class="container">

      <div class="section-title-wrap section-header text-center">
        <h5 class="custom-primary">Заследете не на</h5>
        <h2 class="title">Инстаграм</h2>
        <p class="subtitle">
          Прв кафич на знаковен јазик во Македонија 🤟🏻
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
          <a href="https://www.instagram.com/ulafstecoffeshop/" target="_blank" class="ct-ig-item ig-2">
            <img loading="lazy" src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-26-999.jpg" alt="ig" width="500px" height="300px">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
          <a href="https://www.instagram.com/ulafstecoffeshop/" target="_blank" class="ct-ig-item ig-2">
            <img loading="lazy" src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-28-449.jpg" alt="ig" width="500px" height="300px">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
          <a href="https://www.instagram.com/ulafstecoffeshop/" target="_blank" class="ct-ig-item ig-2">
            <img loading="lazy" src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-30-132.jpg" alt="ig" width="500px" height="300px">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
          <a href="https://www.instagram.com/ulafstecoffeshop/" target="_blank" class="ct-ig-item ig-2">
            <img loading="lazy" src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-290.jpg" alt="ig" width="500px" height="300px">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
          <a href="https://www.instagram.com/ulafstecoffeshop/" target="_blank" class="ct-ig-item ig-2">
            <img loading="lazy" src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-921.jpg" alt="ig" width="500px" height="300px">
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
          <a href="https://www.instagram.com/ulafstecoffeshop/" target="_blank" class="ct-ig-item ig-2">
            <img loading="lazy" src="/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-28-879.jpg" alt="ig" width="500px" height="300px">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Instagram End -->
