<div *ngIf="product">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-bg">
        <img [src]="product.image" width="95%" height="10%" alt="image"/>
        <button type="button" class="close-btn" (click)="closeModal()">
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="customize-meta">
          <h4 class="customize-title">{{product.name}} <span class="custom-primary">{{product.price}} денари</span></h4>
          <p>
            {{product.description}}
          </p>
        </div>

        <div class="customize-variations">
          <h5>Големина: <span class="text-muted">стандардна</span></h5>
          <div class="row">
            <!-- Variation Start -->
            <div class="col-lg-6 col-12" style="width:auto;">
              <div class="customize-variation-wrapper">
                <i class="flaticon-pizza-and-cutted-slice"></i>
                <h5>Измени Состојки</h5>

                <div class="customize-variation-item">
                  <select multiple [(ngModel)]="ingredients" class="custom-select">
                  <ng-container *ngFor="let ingredient of product.ingredients">
                    <option [value]="ingredient.name">
                      <input type="checkbox" [checked]="ingredients.includes(ingredient.name)" (change)="toggleSelection(ingredient.name)">
                      Без {{ ingredient.name }}
                    </option>
                  </ng-container>
                </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="customize-controls">
          <div class="qty">
            <span class="qty-subtract" (click)="subQuantity()"><i class="fas fa-minus"></i></span>
            <input type="text" name="quantity" [(ngModel)]="quantity">
            <span class="qty-add" (click)="addQuantity()"><i class="fas fa-plus"></i></span>
          </div>
          <div class="customize-total">
            <h5>Вкупна цена: <span class="final-price custom-primary">{{product.price * quantity}} <span>денари</span> </span>
            </h5>
          </div>
        </div>
        <button type="button" class="btn-custom btn-block" (click)="save()">Нарачај сега</button>
      </div>
    </div>
  </div>
</div>
