<!-- Cart Sidebar Start -->
<div [ngClass]="{'cart-open':cartOpen}">
  <aside class="cart-sidebar-wrapper">
    <div class="cart-sidebar">
      <div class="cart-sidebar-header">
        <h3>Кошничка</h3>
        <div class="close-btn cart-trigger close-dark" (click)="closeModal()" >
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="cart-sidebar-body">
        <ng-scrollbar style="height:65vh">
          <div class="cart-sidebar-item" *ngFor="let orderItem of orderItems">
            <div class="media">
              <a routerLink="/product/{{orderItem.product.id}}"><img [src]="transformData(orderItem.product).image" alt="product"></a>
              <div class="media-body">
                <h5><span>{{orderItem.product.name}}</span></h5>
                <span>{{orderItem.quantity}} * {{orderItem.product.price}} ден.</span>
              </div>
            </div>
            <div class="cart-sidebar-item-meta">
              <ng-container *ngFor="let notingredient of orderItem.notIngredients">
                Без {{notingredient.toString()}},
              </ng-container>
            </div>
            <div class="cart-sidebar-price">
              {{orderItem.quantity * orderItem.product.price}} ден.
            </div>
            <div class="close-btn" (click)="removeFromCart(orderItem)">
              <span></span>
              <span></span>
            </div>
          </div>
          <p *ngIf="orderItems.length == 0">Вашата кошничка е празна</p>
        </ng-scrollbar>
      </div>
      <div class="cart-sidebar-footer">
        <h4>Вкупно: <span>{{calculateTotal()}}</span> ден.</h4>
        <a *ngIf="orderItems.length !== 0" routerLink="/checkout" class="btn-custom">Кон наплата</a>
      </div>
    </div>
  </aside>
  <div class="cart-sidebar-overlay cart-trigger" (click)="closeModal()">
  </div>
  <!-- Cart Sidebar End -->
</div>
