<!-- Cart Sidebar Start -->
<div [ngClass]="{'cart-open':cartOpen}">
  <aside class="cart-sidebar-wrapper">
    <div class="cart-sidebar">
      <div class="cart-sidebar-header">
        <h3>Кошничка</h3>
        <div class="close-btn cart-trigger close-dark" (click)="closeModal()" >
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="cart-sidebar-body">
        <ng-scrollbar style="height:650px">
          <div class="cart-sidebar-item" *ngFor="let cartItem of cartItems">
            <div class="media">
              <a routerLink="/products/{{cartItem.product.id}}"><img [src]="transformData(cartItem.product).image" alt="product"></a>
              <div class="media-body">
                <h5><span>{{cartItem.product.name}}</span></h5>
                <span>{{cartItem.quantity}} * {{cartItem.product.price}} ден.</span>
              </div>
            </div>
            <div class="cart-sidebar-item-meta">
            </div>
            <div class="cart-sidebar-price">
              {{cartItem.quantity * cartItem.product.price}} ден.
            </div>
            <div class="close-btn" (click)="removeFromCart(cartItem)">
              <span></span>
              <span></span>
            </div>
          </div>
        </ng-scrollbar>
      </div>
      <div class="cart-sidebar-footer">
        <h4>Вкупно: <span>{{calculateTotal()}}</span> ден.</h4>
        <a href="/checkout" class="btn-custom">Кон наплата</a>
      </div>
    </div>
  </aside>
  <div class="cart-sidebar-overlay cart-trigger" (click)="closeModal()">
  </div>
  <!-- Cart Sidebar End -->
</div>
