<!-- Banner Start -->
<div class="banner banner-3" id="start">

    <div class="banner-slider-3">

      <div class="banner-item">
        <div class="banner-inner" style="background-image: url('/assets/img/pexels-nadin-sh-8725224.jpg')">
          <h1 class="title">Пеперони</h1>
          <div class="ct-rating-wrapper">
            <div class="ct-rating">
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
          <div class="banner-text">
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="banner-icons-wrapper">
              <div class="banner-icon">
                <i class="flaticon-calories"></i>
                <div class="banner-icon-body">
                  <h5>650</h5>
                  <span>Calories</span>
                </div>
              </div>
              <div class="banner-icon">
                <i class="flaticon-cheese"></i>
                <div class="banner-icon-body">
                  <h5>200g</h5>
                  <span>Mozzarela</span>
                </div>
              </div>
            </div>
            <div class="banner-controls">
              <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn-custom primary">Order <i class="flaticon-shopping-bag"></i> </a>
              <h4>$12.99</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-item">
        <div class="banner-inner" style="background-image: url('/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-733.jpg')">
          <h1 class="title">Маргарита</h1>
          <div class="ct-rating-wrapper">
            <div class="ct-rating">
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
          <div class="banner-text">
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="banner-icons-wrapper">
              <div class="banner-icon">
                <i class="flaticon-calories"></i>
                <div class="banner-icon-body">
                  <h5>650</h5>
                  <span>Calories</span>
                </div>
              </div>
              <div class="banner-icon">
                <i class="flaticon-cheese"></i>
                <div class="banner-icon-body">
                  <h5>200g</h5>
                  <span>Mozarella</span>
                </div>
              </div>
            </div>
            <div class="banner-controls">
              <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn-custom primary">Order <i class="flaticon-shopping-bag"></i> </a>
              <h4>$12.99</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-item">
        <div class="banner-inner" style="background-image: url('/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-921.jpg')">
          <h1 class="title">5 Фромаџи</h1>
          <div class="ct-rating-wrapper">
            <div class="ct-rating">
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
            </div>
          </div>
          <div class="banner-text">
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="banner-icons-wrapper">
              <div class="banner-icon">
                <i class="flaticon-calories"></i>
                <div class="banner-icon-body">
                  <h5>650</h5>
                  <span>Calories</span>
                </div>
              </div>
              <div class="banner-icon">
                <i class="flaticon-cheese"></i>
                <div class="banner-icon-body">
                  <h5>200g</h5>
                  <span>Mozarella</span>
                </div>
              </div>
            </div>
            <div class="banner-controls">
              <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn-custom primary">Order <i class="flaticon-shopping-bag"></i> </a>
              <h4>$12.99</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="banner-item">
        <div class="banner-inner" style="background-image: url('/assets/img/ulaf_ste/viber_image_2023-06-19_13-56-29-290.jpg')">
          <h1 class="title">Капричиоза</h1>
          <div class="ct-rating-wrapper">
            <div class="ct-rating">
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star active"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
          <div class="banner-text">
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="banner-icons-wrapper">
              <div class="banner-icon">
                <i class="flaticon-calories"></i>
                <div class="banner-icon-body">
                  <h5>650</h5>
                  <span>Calories</span>
                </div>
              </div>
              <div class="banner-icon">
                <i class="flaticon-cheese"></i>
                <div class="banner-icon-body">
                  <h5>200g</h5>
                  <span>Mozarella</span>
                </div>
              </div>
            </div>
            <div class="banner-controls">
              <a [routerLink]="['']" routerLinkActive="router-link-active" class="btn-custom primary">Order <i class="flaticon-shopping-bag"></i> </a>
              <h4>$12.99</h4>
            </div>
          </div>
        </div>
      </div>

    </div>

  <div class="ct-arrows-wrapper">
    <div class="slide-number">
      <span class="current-slide">0<span>1</span></span> <span>/4</span>
    </div>
    <div class="ct-arrows">
      <div class="slider-prev" (click)="prevSlide()">
        Previous
      </div>
      <div class="slider-next" (click)="nextSlide()">
        Next
      </div>
    </div>
  </div>
  </div>
<!-- Banner End -->
