<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slices - Pizzeria HTML Template</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32">

</head>

<body>
<div #target></div>
<app-preloader></app-preloader>3e
<app-alert></app-alert>
<app-header></app-header>
<div *ngIf="product">



  <!-- Subheader Start -->
  <div class="subheader dark-overlay dark-overlay-2" style="background-image: url('https://images.pexels.com/photos/7912400/pexels-photo-7912400.jpeg?auto=compress&cs=tinysrgb&w=1600')">
    <div class="container">
      <div class="subheader-inner">
        <h1></h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">

          </ol>
        </nav>
      </div>

    </div>
  </div>
  <!-- Subheader End -->

  <div class="section product-single">
    <div class="container">

      <div class="row">
        <div class="col-md-5">

          <!-- Main Thumb -->
          <div class="product-thumb">
            <img [src]="sanitizeImage(product).image" alt="pizza">
          </div>
          <!-- /Main Thumb -->

        </div>
        <div class="col-md-7">
          <div class="product-content">

            <!-- Product Title -->
            <h2 class="title">{{product.name}}</h2>
            <!-- /Product Title -->

            <!-- Price -->
            <div class="price-wrapper">
              <p class="product-price">{{product.price}}ден.</p>
            </div>
            <!-- /Price -->

            <!-- Product Short Description -->
            <p>{{product.description}}</p>
            <!-- /Product Short Description -->

            <!-- Variations -->
            <div class="customize-variations" *ngIf="product.category.name == 'Пица'">

              <div class="customize-size-wrapper">
                <h5>Големина: Стандардна </h5>
              </div>

              <div class="row">
                <!-- Variation Start -->
                <div class="col-lg-6 col-12">
                  <div class="customize-variation-wrapper">
                    <i class="flaticon-pizza-and-cutted-slice"></i>
                    <h5>Состојки и алергени</h5>
                    <div class="customize-variation-item" data-price="2.00" *ngFor="let ingredient of product.ingredients">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="{{ingredient.id}}" class="custom-control-input" id="addChicken1">
                        <img [src]="transformDataIngredient(ingredient).image" alt="menu item" height="40px" width="40px"/>
                        <br>
                        <label class="custom-control-label" for="addChicken1">{{ingredient.name}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Variation End -->
              </div>

            </div>
            <!-- /Variations -->

            <!-- Add To Cart Form -->
            <form class="atc-form" method="post">
              <div class="form-group">
                <label>Количина</label>
                <div class="qty">
                  <span class="qty-subtract"><i class="fas fa-minus"></i></span>
                  <input type="text" name="qty" value="1">
                  <span class="qty-add"><i class="fas fa-plus"></i></span>
                </div>
              </div>
              <button type="submit" name="button" class="btn-custom secondary" (click)="addToCart(product)"> Додади во кошничка <i class="fas fa-shopping-cart"></i> </button>
            </form>
            <!-- /Add To Cart Form -->

            <!-- Product Meta -->
            <ul class="product-meta">
              <li>
                <span>Категорија: </span>
                <div class="product-meta-item">
                  <a>{{product.category.name}}</a>
                </div>
              </li>
              <li *ngIf="product.category.name == 'Пица'">
                <span>Состојки: </span>
                <div class="product-meta-item">
                  <a *ngFor="let ingredient of product.ingredients">{{ ingredient.name }}, </a>
                </div>
              </li>
              <li>
                <span>Шифра: </span>
                <div class="product-meta-item">
                  <span>MKПР0{{product.id}}</span>
                </div>
              </li>
            </ul>
            <!-- /Product Meta -->

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section pt-0">
    <div class="container">
      <!-- Additional Information Start -->
      <div class="product-additional-info">
        <ul class="nav" id="bordmoered-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="tab-product-desc-tab" data-bs-toggle="pill" href="#tab-product-desc" role="tab" aria-controls="tab-product-desc" aria-selected="true">Опис</a>
          </li>
        </ul>
        <div class="tab-content" id="bordered-tabContent">
          <div class="tab-pane fade show active" id="tab-product-desc" role="tabpanel" aria-labelledby="tab-product-desc-tab">
            <h4>Опис</h4>
            {{product.description}}
          </div>
        </div>
      </div>
      <!-- Additional Information End -->
    </div>
  </div>

  <!-- Related Start -->
  <div class="section section-padding related-products pt-0">
    <div class="container">
      <h3>Останати производи</h3>
      <div class="row">
        <ng-container *ngFor="let product of products.slice(product.id.valueOf(), product.id.valueOf() + 3)">
          <ng-container>
            <!-- Product Start -->
            <div class="col-lg-4 col-md-6">
              <div class="product" *ngIf="product.available">
                <a class="product-thumb" routerLink="/product/{{product.id}}"> <img [src]="sanitizeImage(product).image"
                                                                                    alt="menu item"/> </a>
                <div class="product-body">
                  <div class="product-desc">
                    <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                    <p>{{product.description}}</p>
                    <a class="btn-custom light btn-sm shadow-none" (click)="openModal(product)" *ngIf="product.customizable">
                      Измени <i
                      class="fas fa-plus"></i> </a>
                  </div>
                  <div class="product-controls">
                    <p class="product-price">{{product.price}} ден.</p>
                    <a class="order-item btn-custom btn-sm shadow-none" (click)="addToCart(product)">Додади во кошничка <i
                      class="fas fa-shopping-cart"></i> </a>
                  </div>
                </div>
              </div>
              <div class="product" *ngIf="!product.available">
                <a class="product-thumb"> <img [src]="sanitizeImage(product).image" alt="menu item"/> </a>
                <div class="product-body">
                  <div class="product-desc">
                    <h4><a>{{product.name}}</a></h4>
                    <p>{{product.description}}</p>
                    <a class="btn-custom light btn-sm shadow-none" *ngIf="product.customizable">
                      Измени <i
                      class="fas fa-plus"></i> </a>
                  </div>
                  <div class="product-controls">
                    <p class="product-price">{{product.price}} ден.</p>
                    <a class="order-item btn-custom btn-sm shadow-none">Додади во кошничка <i
                      class="fas fa-shopping-cart"></i> </a>
                  </div>
                </div>
                <div class="overlay"> <h4>Моментално недостапно</h4> </div>
              </div>
            </div>
            <!-- Product End -->
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
  <!-- Related End -->

  <app-footer></app-footer>
</div>
</body>

</html>
